<div class='team__overlay'>
  <div class='team__content'>
    <div class='team-title'>
      <button type='button' class='team__button-close' data-action='close-btn-team'>
        <span class='material-icons'>
          favorite
        </span>
      </button>
    </div>
    <div class="containe">
      <ul class="row">
        {{#each this}}
        <li class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="{{photo}}" width="100px" height="100px" alt="{{name}} {{surname}}">
            </div>
            <div class="team-content">
              <h3 class="name">{{name}} {{surname}}</h3>
              <h4 class="title">Front-end Developer</h4>
            </div>
            <ul class="social">
              <li><a class='team-item__link' href="{{github}}" target='_blank'>
              <img align="left" class="github" alt="GitHub" width="32px"
                src="https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png" />
              </a></li>
            </ul>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

