<div class="modal-window ">
  <div class="cl-btn">
    <div>
      <div class="leftright"></div>
      <div class="rightleft"></div>
      <span class="close-btn">close</span>
    </div>
  </div>
  <img class="card-poster" src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt="poster" {{original_title}}>

  <div>
    <div class="card-details">
      <h2 class="card-title">{{title}}</h2>
      <ul class="card-list">
        <li class="card-item">
          <p class="card-item__about">Vote / Votes</p>
          <p><span class="vote">{{vote_average}}</span> / {{vote_count}}</p>
        </li>
        <li class="card-item">
          <p class="card-item__about">Popularity</p>
          <p>{{popularity}}</p>
        </li>
        <li class="card-item">
          <p class="card-item__about">Original Title</p>
          <p>{{original_title}}</p>
        </li>
        <li class="card-item">
          <p class="card-item__about">Genre</p>
          <ul class="card-list-genres">
            {{#each genres}}
            <li class="card-item-genre">{{ name}}</li>
            {{/each}}
          </ul>
        </li>
      </ul>
      <div class="card-headlines">
         <div class="card-about-title"> 
          <h3 class="card-about  card-about-desc active">About</h3>
          <h3 data-movie-id="{{id}}" class="card-about  card-about-trailer ">Trailer</h3>
          </div>
            <div class=" card-data">
              <p class='card-description'>
              {{overview}}
              </p>
              <div class="card-trailer"></div>
            </div>        
      </div>
    </div>
    <div class="card-button-modal">
      <button class="button-modal button-watched" type="button">add to watched</button>
      <button class="button-modal button-queue" type="button">add to queue</button>
    </div>
  </div>
</div>
</div>