{{#each this}}
  <li class='movie__item'>
    <img
      class='movie__photo'
      {{#if poster_path}}
      src="https://image.tmdb.org/t/p/w300{{poster_path}}"
      {{else}}
      src='https://westsiderc.org/wp-content/uploads/2019/08/Image-Not-Available.png'
      {{/if}}
      data-src="{{poster_path}}"
      alt="{{title}}"
      data-movie-id="{{id}}"
      tabindex="0"
    />
    <h2 class='movie__name'>
      {{title}}
    </h2>
    <div class='movie__info'>
      <p class='movie__genres'>
        {{genre}} â˜ {{release_date}}
      </p>
      <p class='movie__rating'>
        {{vote_average}}
      </p>
    </div>
  </li>
{{/each}}