{{#each this}}
  <li class='movie__item'>
    <img
      class='movie__photo'
      src="https://image.tmdb.org/t/p/w300/{{poster_path}}"
      data-src="{{poster_path}}"
      alt="{{title}}"
      data-movie-id="{{id}}"
    />
    <h2 class='movie__name'>
      {{title}}
    </h2>
    <div class='movie__info'>
      <p class='movie__genres'>
        {{#each genres}}
          <span class='genre'>
            {{name}}
          </span>
        {{/each}}
        ❘
        <span class='release-date'>
          {{release_date}}
        </span>
      </p>
      <p class='movie__rating'>
        {{vote_average}}
      </p>
    </div>
  </li>
{{/each}}